[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.8.2"

[packages]
requests = "*"
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-bcrypt = "*"
flask-login = "*"
pillow = "*"
flask-mail = "*"
email-validator = "*"

[dev-packages]
pytest = "*"
pylint = "*"
autopep8 = "*"
